/*!
 * Copyright 2016
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */
 .width-10-pct{
   width:10%;
 }

 .width-15-pct{
   width:15%;
 }

 .width-20-pct{
   width:20%;
 }

 .width-25-pct{
   width:25%;
 }

 .width-30-pct{
   width:30%;
 }

 .text-align-center{
   text-align:center;
 }

 .margin-bottom-1em{
   margin-bottom:1em;
 }

 table tr th{
   cursor:pointer;
 }

 .column-title{
   margin:.2em .5em 0 0;
   padding:0;
   float:left;
 }

 .category-label{
   color: #9e9e9e;
   font-size: 0.8rem;
   cursor: text;
   -webkit-transition: .2s ease-out;
   -moz-transition: .2s ease-out;
   -o-transition: .2s ease-out;
   -ms-transition: .2s ease-out;
   transition: .2s ease-out;
 }

 .width-100-pct{
   width:100%;
 }

 .row-main{
   margin:1.14rem 0 0.912rem 0;
 }

 .item-search{
     position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
 }
