<div id="modal-employees-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-employees-title">Nuevo Empleado</h4>
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="$parent.employee.identification"
                    type="number"
                    class="validate"
                    id="identification"
                    placeholder="" />
                <label class="active" for="identification">Identificación</label>
            </div>
            <div class="input-field col s6">
                <input ng-model="$parent.employee.name"
                    type="text"
                    class="validate"
                    id="name"
                    placeholder="" />
                <label class="active" for="name">Nombre Empleado</label>
            </div>
            <div class="input-field col s6">
                <input ng-model="$parent.employee.age"
                    type="number"
                    class="validate"
                    id="age"
                    placeholder="" />
                <label class="active" for="age">Edad</label>
            </div>
            <div class="input-field col s6">
                <input ng-model="$parent.employee.position"
                    type="text"
                    class="validate"
                    id="position"
                    placeholder="" />
                <label class="active" for="position">Cargo</label
            </div>
            <div class="input-field col s12">
            </div>
            <div class="input-field col s12">
                <a id="btn-create-employees"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="create()">
                    <i class="material-icons left">add</i>Crear
                </a>
                <a id="btn-update-employees"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="update()">
                        <i class="material-icons left">edit</i>Editar
                </a>
                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                    <i class="material-icons left">close</i>Cerrar
                </a>
            </div>
        </div>
    </div>
</div>
