<div class="col s12">
    <h4 class="text-uppercase">Gestión de Empleados</h4>
</div>

<div class="input-field col s12">
    <!-- used for searching the current list -->
    <input id="search" type="text" class="validate" ng-model="search"/>
    <label for="search">Búsqueda de empleados...</label>
</div>

<div class="col s12">
    <div ng-show="employees==undefined" class="card red">
        <div class="card-content white-text">
            <p>No se encontraron empleados.</p>
        </div>
    </div>
    <!-- table that shows all the record list -->
    <table class="hoverable bordered" ng-show="employees!=undefined">
        <thead>
            <tr>
                <th ng-click="sort('identification')" class="width-15-pct">
                    <span class="column-title">Identificación</span>
                    <span ng-show="sortKey=='identification'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('name')" class="width-15-pct">
                    <span class="column-title">Nombre</span>
                    <span ng-show="sortKey=='name'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('age')" class="width-15-pct">
                    <span class="column-title">Edad</span>
                    <span ng-show="sortKey=='age'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('position')" class="width-15-pct">
                    <span class="column-title">Cargo</span>
                    <span ng-show="sortKey=='position'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                
                <th class="text-align-center">Acción</th>
            </tr>
        </thead>
        <tbody ng-init="getAll()">
            <tr dir-paginate="employee in employees | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="plaque">
                <td>{{ employee.identification }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.position }}</td>
                <td class="text-align-center">
                    <a ng-click="readOne(employee.identification)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">edit</i></a>
                    <a ng-click="delete(employee.identification)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div> <!-- end col s12 -->

<div class="col s8">
    <!-- angular pagination -->
    <dir-pagination-controls pagination-id="identification" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/shared/dir_pagination.tpl.html"></dir-pagination-controls>
</div>
