<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPIA TEST WEB</title>
    <link rel="stylesheet" href="libs/css/materialize-v0.97.3/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="libs/css/site.css" />
</head>
<body ng-app="myApp" ng-controller="appController">
    <div class="container">
        <div ng-include="'views/employees/employees_grid.tpl.html'"></div>
        <div class="fixed-action-btn" style="bottom:45px; right:24px;">
            <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large blue tooltipped"
                data-position="left"
                data-delay="50"
                data-tooltip="Crear nuevo empleado"
                href="#modal-employees-form"
                ng-click="showCreateForm()">
                    <i class="large material-icons">add</i>
            </a>
        </div>
        <div ng-include="'views/employees/employees_modal_form.tpl.html'"></div>
    </div>
    <script type="text/javascript" src="libs/js/jquery.js"></script>
    <script src="libs/css/materialize-v0.97.3/js/materialize.min.js"></script>
    <script src="libs/js/angular.min.js"></script>
    <script src="libs/js/dirPagination.js"></script>
    <script src="libs/js/app.js"></script>
    <script>
    // jquery script
    function leanModal(){
        $('.modal-trigger').leanModal();
    };

    function activateDropDowns(){
        $('.dropdown-button').dropdown({
            hover: true, // activate on hover
        });
    };

    $(document).ready(function(){
        // initialize modal
        leanModal();
        activateDropDowns();
    });
    </script>
</body>
</html>
